/* Avoid image from overlapping with section part in /shop */
.oe_product .oe_product_image img {
    position: static !important;
    padding: 10px;
}
.oe_product .oe_product_image {
    position: static;
}
/* Remove background of product information */
.product_item {
    background: none !important;
}
/* section desktop */
@media (min-width: 769px) {
    .product_item {
        position: static !important;
        float: left;
    }
    .hidden-xs img {
        max-width: none !important;
        height: 200px !important;
    }
    .visible-xs-inline img {
        display: none;
    }
}
/* section mobile */
@media (max-width: 768px) and (min-width: 362px) {
    .product_item {
        position: absolute !important;
        float: right;
        left: 200px !important;
        padding: 10px !important;
        width: 180px !important;
        top: 0;
    }
    .hidden-xs img {
        display: none;
    }
    .oe_product_image {
        width: 200px !important;
        position: static !important;
    }
    #products_grid .oe_product.oe_grid {
        height: fit-content;
        height: -moz-fit-content;
    }
    /* Restrict the width of product information */
    .product_info {
        width: 100px !important;
    }
}
/* section small device */
@media (max-width: 362px) {
    .product_item {
        position: absolute !important;
        float: right;
        width: 130px !important;
        padding: 10px !important;
        left: 150px !important;
        top: 0;
    }
    .hidden-xs img {
        display: none;
    }
    .oe_product_image {
        width: 150px !important;
        position: static !important;
    }
    #products_grid .oe_product.oe_grid {
        height: fit-content;
        height: -moz-fit-content;
    }
    /* Restrict the width of product information */
    .product_info {
        width: 100px !important;
    }
}
/* fix position of the dropdown user menu */
.dropdown-menu-right {
    right: unset !important;
}
/* Button Background Color */
.btn-primary,
.btn-secondary {
    background-color: #105656;
    border-color: #105656;
}
/* Button Hover Background Color */
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    background-color: #024846;
}
/* Hyperlink Text Color */
a {
    color: #105656;
}
/* Hyperlink Hover Text Color */
a:hover,
a:focus {
    color: #024846;
}
/* Button Hover Color */
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.show > .btn-primary.dropdown-toggle {
    background-color: #024846;
    border-color: #024846;
}
/* Button Hover Color */
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active,
.btn-secondary.active,
.show > .btn-secondary.dropdown-toggle {
    background-color: #024846;
    border-color: #024846;
}
/* Cart Number Box Color */
.badge-primary {
    background-color: #105656;
}
/* Active Page Number Box Color */
.page-item.active .page-link {
    background-color: #105656;
    border-color: #105656;
}
/* Hover Page Number Color */
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
    color: #024846;
}
/* Page Number Color */
.pagination > li > a,
.pagination > li > span {
    color: #105656;
}
/* Checkout Button Color */
.btn-default {
    color: #105656;
}
.visible-xs-inline {
    display: none;
}
@media (max-width: 767px) {
    .hidden-xs {
        display: none !important;
    }
}
@media (max-width: 767px) {
    .visible-xs-inline {
        display: inline !important;
    }
}
/* Add padding to the search area */
.products_pager > div {
    padding: 5px;
}
.products_pager > form {
    padding: 5px;
}
